<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>WEBClient</title>
    <meta charset="UTF-8"/>
</head>
<body>

<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<br/>
<form method="post" th:action="@{/web_client_action}">
<!--
    <input type="text" name="login" id="login" placeholder="Login"/><br/>
    <input type="password" name="password" id="password" placeholder="Password"/><br/>
    <input type="text" name="lastLevel" id="lastLevel" placeholder="lastLevel"/><br/>
    <input type="text" name="coinCount" id="coinCount" placeholder="coinCount"/><br/>
    <input type="text" name="redDiamondCount" id="redDiamondCount" placeholder="redDiamondCount"/><br/>
    <input type="text" name="greenDiamondCount" id="greenDiamondCount" placeholder="greenDiamondCount"/><br/>
    <input type="text" name="blueDiamondCount" id="blueDiamondCount" placeholder="blueDiamondCount"/><br/>
-->
    <input type="text" name="login" id="login" placeholder="Login" th:value="${playerLogin}"/><br/>
    <input type="text" name="password" id="password" placeholder="Password" th:value="${playerPassword}"/><br/>
    <input type="text" name="lastLevel" id="lastLevel" placeholder="lastLevel" th:value="${playerLastLevel}"/><br/>
    <input type="text" name="coinCount" id="coinCount" placeholder="coinCount"  th:value="${playerCoinCount}"/><br/>
    <input type="text" name="redDiamondCount" id="redDiamondCount" placeholder="redDiamondCount" th:value="${playerRedDiamondCount}"/><br/>
    <input type="text" name="greenDiamondCount" id="greenDiamondCount" placeholder="greenDiamondCount" th:value="${playerGreenDiamondCount}"/><br/>
    <input type="text" name="blueDiamondCount" id="blueDiamondCount" placeholder="blueDiamondCount" th:value="${playerBlueDiamondCount}"/><br/>

    <button type="submit" name="action" value="Find">Find</button>
    <button type="submit" name="action" value="Add">Add</button>
    <button type="submit" name="action" value="Delete">Delete</button>
    <button type="submit" name="action" value="Update">Update</button>

</form>

<br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>